{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "firefox": "28"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-react-jsx-img-import",
        "@babel/plugin-proposal-class-properties"
    ]
}