html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-content {
  display: flex;
  height: 100vh;
  width: 100%;

  background-color: var(--var-background-color);
  color: var(--var-text-color);
}
