.nav {
  padding: $var-padding-main;
  border-right: 1px solid $var-border-color;
}

.nav-item {
  display: block;
  margin: 1em 0;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-top: 0;
  }
}

.nav-item__active {
  opacity: 1;
}

.nav-item svg {
  height: 2em;
  fill: $var-icon-color;
}
