.timer {
  font-size: 6em;
}

.timer__ending {
  animation: blink-animation 1s ease-in-out infinite;
}

.timer__end {
  animation: blink-animation 0.5s ease-in-out forwards;
}

@keyframes blink-animation {
  to {
    transform: scale(1.2);
    color: rgb(201, 20, 20);
  }
}

.timer-toolbox {
  display: flex;
  justify-content: center;
}

.toolbox-item {
  margin: 3em 0.5em 0 0.5em;
  padding: 1em;
  height: 2em;
  fill: $var-icon-color;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
